.feedback {
    text-align: center;
  }
  
  #correct,
  #incorrect {
    font-size: 15em;
    color: white;
    background-color: red;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
  }
  
