body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
  }
header{
    background: #FE4A49;
  }

.container{
    width: 95%;
    margin: auto;
  }
  
  .nav{
    overflow: hidden;
    background:#FE4A49;
    color: #fff;
    padding: 20px 0;
  }
  
  .nav h2{
    font-size: 2rem;
    float: left;
  }
  
  nav{
    float: right;
  }
  
  nav ul{
    list-style-type: none;
  }
  
  nav li{
    font-size: 1.3rem;
    margin-top: 5px;
    float: left;
    padding: 0 15px;
  }
  
  nav a{
    text-decoration: none;
    color: #fff;
  }
  
  .current a::after{
    content: '-';
    font-size: 4px;
    background-color: white;
    display: block;
  }
#num1{
    color:#5b49fe;
    font-size:50px;
}
.button{
   background-color: rgb(219, 38, 38);
   color:white; 
   border-top-left-radius: 40px;
   border-bottom-right-radius: 40px;
   font-size: 30px;
   padding: 20px;
}
.button:hover{
   background-color: rgb(255, 38, 0);
   font-size: 35px;
   cursor: pointer;
}