@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
img{
  width: 100%;
  height: auto;
}

#start{
  color:#000000;
  font-size: 30px;
  padding: 20px;
  border-radius: 52px;
  background: linear-gradient(145deg, #b4c7c9, #d6ecef);
  box-shadow:  25px 25px 50px #505859,
               -25px -25px 50px #ffffff;
}
#start:hover{
  background-color:#c53232;
  cursor: pointer;
  color:rgb(51, 51, 51);
  font-size: 35px;
}
.nano{
  font-size: large;
  padding: 10px;
  border-radius: 52px;
  background: linear-gradient(145deg, #b4c7c9, #d6ecef);
  box-shadow:  25px 25px 50px #505859,
               -25px -25px 50px #ffffff;
}
.nano:hover{
  background-color:#1fb5b5;
  cursor: pointer;
  color:rgb(51, 51, 51);
  font-size: 30px;
}
.nano-1{
  font-size: large;
  padding: 10px;
  border-radius: 52px;
  background: linear-gradient(145deg, #b4c7c9, #d6ecef);
  box-shadow:  25px 25px 50px #505859,
               -25px -25px 50px #ffffff;
}
.nano-1:hover{
  background-color:#1fb5b5;
  cursor: pointer;
  color:rgb(51, 51, 51);
  font-size: 30px;
}
*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Luckiest Guy', cursive;
  background-color: #E6E6EA;
}

header{
  background: #FE4A49;
}

.container{
  width: 95%;
  margin: auto;
}

.nav{
  overflow: hidden;
  background:#FE4A49;
  color: #fff;
  padding: 20px 0;
}

.nav h2{
  font-size: 2rem;
  float: left;
}

nav{
  float: right;
}

nav ul{
  list-style-type: none;
}

nav li{
  font-size: 1.3rem;
  margin-top: 5px;
  float: left;
  padding: 0 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}

.current a::after{
  content: '-';
  font-size: 4px;
  background-color: white;
  display: block;
}

.wrapper{
  display: grid;
  grid-template-columns: 82% 18%;
}

.equation{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 5.2vw;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}

.equation h1{
  display: inline;
  padding: 20px;
}

.answer-options{
  font-size: 5.2vw;
  margin-right: 10px;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  transition: 2s;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

@media(max-width:768px){
  .nav h2{
    font-size: 1.5rem;
    float: none;
    text-align: center;
  }

  nav{
    float: none;
    display: flex;
    justify-content: center;
  }

  nav li{
    font-size: 1rem;
  }
}

@media(max-width:480px){
  .nav h2{
    float: none;
    text-align: center;
  }

  .equation h1{
    display: inline;
    padding: 10px;
  } 

  nav li{
    font-size: .8rem;
  }

}

.timer {
  float: left;
  margin-left: 10px;
}
#play-again{
  text-decoration: none;
  margin: 20px;
  text-align: center;
  font-size:30px;
  padding: 20px;
  color:white;
  background-color: red;
  border-radius: 30px;
}
#play-again:hover{
  background-color: rgb(30, 255, 30);
  cursor: pointer;
  color:white;
}



